name: CI-CD-EKS

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 142039336074.dkr.ecr.ap-south-1.amazonaws.com

    - name: Build and Push Docker Image
      run: |
        docker build -t eks-rolling-app ./app
        docker tag eks-rolling-app:latest 142039336074.dkr.ecr.ap-south-1.amazonaws.com/eks-rolling-app:latest
        docker push 142039336074.dkr.ecr.ap-south-1.amazonaws.com/eks-rolling-app:latest
